@import url("https://fonts.googleapis.com/css2?family=Inter&family=Poppins:wght@400;500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 14px;
  font-weight: 400;
}

body {
  background-color: #1E1E1E;
  font-family: "Poppins", sans-serif;
  color: #fff;
}

.burger {
  cursor: pointer;
  margin-top: 60px;
  margin-left: 30px;
}
.burger > div {
  background-color: #fff;
  border-radius: 10px;
  gap: 10px;
  width: 40px;
  height: 7px;
  margin-top: 8px;
}

.flexHeader {
  padding-top: 40px;
  display: flex;
  width: 75%;
  align-items: center;
  margin-left: 5vw;
}
.flexHeader p {
  font-size: 30px;
  padding-right: 5vw;
}
.flexHeader .cloche {
  position: relative;
}
.flexHeader .cloche > img::after {
  content: "eza";
  display: block;
  position: absolute;
  width: 10px;
  height: 10px;
  top: 0;
  right: 0;
  background-color: #6C1182;
  border-radius: 100%;
}
.flexHeader input {
  background-color: #fff;
  width: 30vw;
  border-radius: 15px;
  height: 45px;
  padding: 10px 13px 10px 70px;
  align-items: center;
  line-height: 1em;
  font-size: 1.4em;
  margin-right: 5vw;
}
.flexHeader input::-moz-placeholder {
  line-height: 2.5;
  font-family: "Inter", sans-serif;
  font-size: 1.4em;
  color: #000;
}
.flexHeader input::placeholder {
  line-height: 2.5;
  font-family: "Inter", sans-serif;
  font-size: 1.4em;
  color: #000;
}

.searchbar {
  position: relative;
}
.searchbar > img {
  position: absolute;
  left: 20px;
  top: 5px;
}

.profil {
  position: absolute;
  top: 40px;
  right: 19px;
}

@media screen and (max-width: 1037px) {
  .flexHeader {
    display: none;
  }
}
@media screen and (min-width: 1037px) {
  .burger {
    display: none;
  }
}
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, 25% 50% 25%);
  height: 38.5vw;
  width: 100%;
}
.grid > .bloc1 {
  background-color: 0;
  padding-top: 40px;
}
.grid > .bloc1 > button {
  background-color: green;
  padding: 1rem;
  background: linear-gradient(266.37deg, #FAFF00 -5.82%, #FAFF00 15.95%, #1970D6 41.2%, #6C1182 72.88%);
  border-radius: 17px;
  align-items: center;
  border: none;
  cursor: pointer;
  display: flex;
  gap: 25px;
  height: 65px;
  width: 250px;
  margin: auto;
}
.grid > .bloc1 > button > p {
  font-size: 25px;
  display: flex;
  gap: 10px;
  align-items: center;
  line-height: 38px;
}
.grid > .bloc1 > button > p > img {
  display: block;
  padding-left: 10px;
}

.gridBloc1 {
  display: grid;
  grid-template-columns: 1fr;
  margin-top: 40px;
  margin-left: 80px;
}
.gridBloc1 > div {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-top: 15px;
  color: #fff;
}
.gridBloc1 > div .text {
  opacity: 0.8;
  font-weight: 500;
  font-size: 20px;
}

@media screen and (max-width: 1000px) {
  .grid {
    display: grid;
    grid-template-columns: 1fr;
  }
  .gridBloc1 {
    grid-template-columns: 1fr 1fr;
    margin: auto;
    justify-content: center;
    padding-left: 100px;
  }
}
@media screen and (max-width: 500px) {
  .text {
    display: none;
  }
  .gridBloc1 {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    padding-left: 20px;
    justify-content: center;
  }
}
.bloc2 {
  background-color: #1970D6;
}

.bloc3 {
  background-color: red;
}/*# sourceMappingURL=style.css.map */